@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    --sides-mobile: 2rem;
    --sides-desktop: 10vw;

    font-family: Alata, sans-serif;
    font-size: 15px;
}

.hidden {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 2.1rem;
    text-transform: uppercase;
}

p {
    line-height: 1.7rem;
    color: var(--Dark-Gray);
}

a:hover {
    background-image: linear-gradient(var(--White) 0 0);
    background-position: bottom center;
    background-size: 50% 2px;
    background-repeat: no-repeat;

}

body {
    background-color: var(--White);
}

footer a,
nav a{
    color: var(--White);
    text-decoration: none;
    padding-bottom: .5rem;

}

button {
    background: none;
    border: solid var(--Black);
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: Alata, sans-serif;

    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    padding: .8rem 3rem;
}
button:hover, button:focus {
    background: var(--Black);
    color: var(--White)
}

@media screen and (min-width:700px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 3.5rem;
    }
}
